@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  font-size: 0.75em;

  background: #fff ;

  max-height: 2300px;
}

li{
  list-style-type: none;
}
a{
  text-decoration: none;
}

@media only screen and (min-width: 1200px){
  /** Header **/
    header{
      background-color: #000;
    }
    .header_container{
      max-width: 1440px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }
    .header_tops_container{
      margin: 2em 5.5em;
    }
    /** Image Logo **/

      .header_logo_container img{
        max-width: 16em;
        width: 90%;
      }
      .header_logo_container img:hover{
        opacity: calc(70%);
      }

    /** Search Tool Input **/
    .container_search_input{
      max-width: 17em;
      width: 100%;
    }
    .container_search_input input{
      background: #fff url(../images/icons/search.svg) no-repeat;
      background-position: 100% ;
      background-size: calc(12%);


      width: 18em;
      padding: 1.2em 0;
      padding-left: 2%;

      border-radius: 3px;
      border: none;
    }
    /** Container User **/
      .cart_user_container{
        background-color: #fff;

        max-width: 17em;
        width: 100%;

        padding: 0.75em;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }
      .assets_top{
        margin: 0 0.45em;

      }
      .assets_top img{
        max-width: 2em;
        width: 100%;
        float: left;
      }
      .assets_top span{
        margin-left: 0.25em;
        margin-top: 0.5em;
        text-align: center;
        display: inline-block;

      }
      .assets_top a{
        color: #000;
        font-weight: 400;
      }
      .assets_top a:hover, .assets_top img:hover  {
        color: rgb(40, 40, 40);
        text-decoration: underline;
        cursor: pointer;
      }
  /** NavBar **/
  nav{

    text-align: center;
  }
  nav ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;

    margin: 0;
    padding: 1.25em;

    display: flex;
    justify-content: center;
  }
  nav ul li{
    margin: 0 2em;
  }
  nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

    font-weight: 700;
  }

  nav ul li a:hover{
    text-decoration: underline;
    opacity: calc(70%);
  }
/** Header Finish **/
/** Main **/
  main{
    height: 1440px;
  }
/** Main Finish **/
/** Footer **/
  footer{
    background: #000;
    height: 1000%;
  }
  /** Information Container **/
  .information{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 2em;
  }
  .container_information{
    padding: 5em;
    text-align: center;
  }
  .inform-text{
    display: inline;
    font-family: 'Rock Salt', cursive;
    font-size: calc(170%);
    font-weight: 500;

    color: #f67c5b;

    margin-bottom: -20px;

  }
  .inform-text h2{

  }
  .inform-log{
    margin-top: 0;
    display: inline;
  }
  .inform-log img{
    width: calc(10%);
  }


}
